<h3>Newsletter</h3>
<form class="newsletter-box">
    <div class="form-group">
        <input class="" type="email" name="email" id="email" placeholder="Email Address*" />
        <i class="fa fa-envelope"></i>
    </div>
    <button class="btn hvr-hover" type="submit" onclick="ValidateEmail(document.newsletter-box.Email)">Submit</button>
</form>